.videoTag {
    width: 380px;
    height: 3000px;  
    /* padding: 50px; */

    
    position: fixed;
    top: 50%;
    left: 30%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
 
    background-repeat: no-repeat;
    background-size: cover;
}
